@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TeX+Gyre+Termes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX&display=swap');

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f8f8ff;
    color: #2d2d2d;
}

h1 {
    color: #000000;
    text-align: center;
    font-family: 'TeX Gyre Termes', serif;
}

h2, h3 {
    color: #2b2b2b;
    font-family: 'TeX Gyre Termes', serif;
}

code {
    font-family: 'STIX', monospace;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.paper-title {
    font-weight: bold;
    font-size: 1.1em;
    color: #2b2b2b;
}

.authors {
    font-style: italic;
    color: #6e6e6e; 
}

.links a {
    color: #1c1c1c;
    text-decoration: none;
    margin-right: 10px;
    background-color: #bfbfbf;
    padding: 3px 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.links a:hover {
    background-color: #9e9e9e;
}

.arxiv-links a {
    color: #f8f8ff;
    text-decoration: none;
    margin-right: 10px;
    background-color: #b31b1b;
    padding: 3px 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.arxiv-links a:hover {
    background-color: #8a1515;
}


.egg_spacer {
    margin-top: 1000px;
  }

nav {
    margin-top: 20px;
    text-align: center;
}

nav a {
    color: #1c1c1c;
    text-decoration: none;
    margin: 0 10px;
    background-color: #bfbfbf; 
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #9e9e9e; 
}

figure figcaption {
    color: #2d2d2d;
}


.image-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.image-row img {
    width: 150px;
    height: auto;
}


.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.text-section {
    max-width: 60%;
}

.portrait img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.hof-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.hof-row img {
    width: 500px;
    height: auto;
}
